*{ margin: 0; padding: 0;}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

form{
    margin-top: 20px;
}

.cardapio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-cardapio {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.item-cardapio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#carrinho-container {
    max-width: 600px;
    margin: 0 auto;
}

.item-carrinho {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilo para o aside do carrinho */
#carrinho-summary {
    background-color: #f8f8f8;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    /* Adiciona flexbox para posicionar à direita */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Estilo para a lista de resumo do carrinho */
#carrinho-summary ul {
    list-style: none;
    padding: 0;
}

/* Estilo para cada item na lista de resumo do carrinho */
#carrinho-summary li {
    margin-bottom: 8px;
}

/* Estilo para o botão de confirmar pedido */
#confirmar-pedido-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745; /* Cor verde, você pode ajustar conforme o seu design */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

/* Estilo para o botão de confirmar pedido quando hover (opcional) */
#confirmar-pedido-btn:hover {
    background-color: #218838; /* Cor verde escura ao passar o mouse, ajuste conforme necessário */
}
