html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow-y: auto;
}

body, .container {
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.cacbecario {
    background-color: rgb(49, 47, 47);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

img {
    width: 150px;
    height: 150px;
}

.produtos{
    padding: 20px;
    padding-left: 45px;
    width: 75%;
}

.carrinho{
    padding: 20px;
    position: relative;
    right: 5%;
    text-align: left;
}

.carrinho button{
    margin-top: 15px;
    width: 35%;
}

.espetos,
.sobremesa,
.bebidas {
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

.espetos button,
.sobremesa button,
.bebidas button,
aside button,
.botao {
    width: 97%;
    height: 28px;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(223, 205, 48);
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.espetos button:hover,
.sobremesa button:hover,
.bebidas button:hover,
aside button:hover,
.botao:hover {
    background-color: rgb(184, 167, 15);
}

.espetos button:active,
.sobremesa button:active,
.bebidas button:active,
aside button:active,
.botao:active {
    background-color: rgb(128, 116, 11);
}

.espetos .espeCarne,
.espetos .espeFrango {
    margin-right: 30px;
}

.bebidas .espePepsi,
.bebidas .espeFantaLaranja{
    margin-right: 30px;
}

.sobremesa .espeTortaCreme,
.sobremesa .espeTortaChocolate{
    margin-right: 30px;
}

.container h4 {
    font-size: 25px;
}

.espetos .espeCarne {
    display: inline-block;
}

.conteudo {
    display: flex; /* Utilize flexbox para layout flexível */
    justify-content: space-between; /* Distribuir o espaço entre os filhos */
}

.carrinho {
    width: 60%;
}

.esspaco {
    margin-top: 500px;
    margin-bottom: 500px;
}

.itemCarrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.itemCarrinho p {
    margin: 0;
}

.itemCarrinho button {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(223, 205, 48);
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.itemCarrinho button:hover {
    background-color: rgb(184, 167, 15);
}

.itemCarrinho button:active {
    background-color: rgb(128, 116, 11);
}

footer {
    background-color: rgb(49, 47, 47);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    width: 97%;
    margin-top: 20px;
}